<div class="container flex flex-col h-full">
  <div class="py-8">
    <h1 class="text-4xl font-bold text-center">
      <%= @ingredient.name %>
    </h1>
  </div>

  <div class="h-full p-2 grid grid-cols-6 grid-rows-3">
    <p class="col-span-3">
    Description:
    </br></br>
    <%= @ingredient.description %>
    </p>

    <div class="m-2 bg-green-300 col-span-3"></div>

    <table class="w-full h-full m-2 border border-gray-700 col-span-3">
      <tbody>
        <th class="border border-current" colspan="3">
          Macro-nutrients
        </th>
        <tr>
          <th class="border border-current">Totals</th>
          <th class="border border-current">Units</th>
        </tr>
        <tr colspan="3">
          <th class="px-2 text-left">Protein</th>
        </tr>
        <tr>
          <td class="px-2 border border-current">25</th>
          <td class="px-2 text-center border border-current">(g)</th>
        </tr>
        <tr colspan="2">
          <th class="px-2 text-left">Fats</th>
        </tr>
        <tr>
          <td class="px-2 border border-current">20</th>
          <td class="px-2 text-center border border-current">(g)</th>
        </tr>
        <tr colspan="3">
          <th class="px-2 text-left">Carbohydrate</th>
        </tr>
        <tr colspan="3" class="border border-current">
          <td class="px-6 text-left">Starch</th>
        </tr>
        <tr>
          <td class="px-2 border border-current">35</th>
          <td class="px-2 text-center border border-current">(g)</th>
        </tr>
        <tr colspan="3" class="border border-current">
          <td class="px-6 text-left">Sugar</th>
        </tr>
        <tr>
          <td class="px-2 border border-current">35</th>
          <td class="px-2 text-center border border-current">(g)</th>
        </tr>
        <% @ingredient.macro_nutrients.each do |nutrient| %>
          <tr>
            <th>
              <%= nutrient.group %>
            </th>
          </tr>
          <%# nutrients.each do |nutrient| %>
            <tr>
              <td>
                <%= nutrient.name %>
              </td>
            </tr>
            <tr>
              <td><%= nutrient.specific_quantity * @ingredient.quantity %></td>
              <td><%= nutrient.unit %></td>
            </tr>
          <%# end %>
        <% end %>
      </tbody>
    </table>

    <table class="h-full min-w-full m-2 border border-gray-700 col-span-3">
      <tbody>
        <th class="border border-current" colspan="3">
          Micro-nutrients
        </th>
        <tr>
          <th class="border border-current">Totals</th>
          <th class="border border-current">Units</th>
          <th class="border border-current">RDA (%)</th>
        </tr>
        <tr colspan="3">
          <th class="px-2 text-left" colspan="3">Minerals</th>
        </tr>
        <tr class="border border-current" colspan="3">
          <td class="px-2 text-left">Sodium</th>
        </tr>
        <tr>
          <td class="px-2 border border-current">25</th>
          <td class="px-2 border border-current">(mg)</th>
          <td class="px-2 border border-current">12</th>
        </tr>
        <tr colspan="3">
          <th class="px-2 text-left">Vitamins</th>
        </tr>
        <tr class="border border-current" colspan="3">
          <td class="px-2 text-left">Vitamin A</th>
        </tr>
        <tr>
          <td class="px-2 border border-current">40</th>
          <td class="px-2 border border-current">(mg)</th>
          <td class="px-2 border border-current">50</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
